* {
    margin: 0%;
    font-family:'Poppins', Arial, sans-serif;
    box-sizing: border-box;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
}

#barraLateral {
width: 20%;
position: sticky;
top: 0%;
display: flex;
flex-direction: column;
align-items: center;
height: 70vh;
justify-content: space-around;
}

#parteCima {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
#parteCima h1 {
    padding-bottom: 40%;
}

#barraLateral h1 {
    width: 45%;
    height: 10%;
}
#barraLateral h1 a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#barraLateral h1 a span {
    width: 150%;
    height: 100%;
    font-size: x-large;
    font-weight: 800;
    color: #000000;
    text-align: center;
}
#barraLateral img {
    width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius: 50%;
}
#ListaLinks {
    list-style: none;
    text-align: center;
    padding: 0%;
}
#ListaLinks li {
    margin-top: 20%;
}
#ListaLinks a {
    text-decoration: none;
    color: rgb(61, 61, 61);
    font-size: large;
    font-weight: 700;
}
#ListaLinks a:hover {
    border-bottom: 1px solid black;
}
#home {
    border-bottom: 1px solid black;
}
.parteBaixo {
    width: 55%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    margin-top: 70%;
}
.parteBaixo h3 {
    width: 100%;
    height: 1vh;
    color: darkgrey;
    font-size: larger;
    font-weight: 700;
    text-align: center;
    padding-bottom: 15%;
}
.parteBaixo input {
    width: 100%;
    height: 5vh;
}

#conteudoPrincipal {
width: 80%;
height: 200vh;
flex-direction: row;
flex-wrap: wrap;
}

#sec01 {
    width: 100%;
    height: 100vh;
    display: flex;
}
#foto {
    width: 50%;
    height: 100vh;
    background-image: url(imagens/author.jpg);
    background-position: center;
    background-size: cover;
}
#textos-foto {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 5%;
    justify-content: center;
    position: relative;
}
#textos-foto h1 {
    font-size: 4em;
    opacity: 10%;
    position: absolute;
    top: 27%;
    left: 0;
}
#hello {
    font-size: 2em;
    opacity: 30%;
    margin-top: 9%;
}
#textos-foto h2 {
    font-size: 2.7em;
    font-weight: 700;
    line-height: 130%;
    margin-bottom: 5%;
}
#textos-foto h2 span {
    color:rgb(199, 173, 134);
}
#texto-grande {
    font-size: 1.3em;
    line-height: 150%;
    opacity: 30%;
    margin-bottom: 7%;
}
#assinatura {
    font-family: "Herr Von Muellerhoff", cursive;
    font-size: 2.5em;
}
#icones {
    width: 30%;
    margin-top: 5%;
    margin-left: 3%;
    display: flex;
    justify-content: space-between;
}
#icones a img {
    width: 25px;
    height: 25px;
}

#secExtra {
    width: 100%;
    height: 20vh;
    background: #3a3b3c;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 3%;
}
#secExtra h3 {
    color: #CCB78F;
    font-size: 2.5em;
    font-weight: 100;
}
#secExtra p {
    color: aliceblue;
    margin-left: 5%;
    margin-right: 5%;
}


#sec02 {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10%;
    padding-top: 3%;
}
#sec02 h4 {
    font-size: 1em;
    letter-spacing: 2%;
    font-weight: 800;
    margin-top: 1%;
    margin-bottom: 3%;
}
#sec02 div {
    width: 100%;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#sec02 div img {
    width: 20%;
    height: 25vh;
}

#sec03 {
    width: 100%;
    height: 60vh;
    background-color:rgb(42, 42, 44);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 3%;
}
#sec03 ul {
    width: 33%;
    height: 66%;
}
#sec03 ul li {
    list-style: none;
}
#ul01:first-child p {
    color: aliceblue;
    font-weight: 600;
    margin-bottom: 5%;
}
#ul01:last-child {
    width: 100%;
    height: 100%;
}
#galeria {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#galeria img {
    width: 33%;
    height: 110.94px;
}

#ul02 {
    display: flex;
    flex-direction: column;
}
#archives{
    color: aliceblue;
    font-weight: 600;
    margin-bottom: 5%;
}
#ul02 p {
    width: 100%;
    color: aliceblue;
    border-bottom: aliceblue solid 1px;
    line-height: 250%;
    display: flex;
    justify-content: center;
}
#ul02 span {
    width: 50%;
}
.span1 {
    text-align: end;
}

#ul03 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    align-self: flex-start;
}
#ul03 li {
    width: 70%;
    display: flex;
}
#ul03 a {
    text-decoration: none;
    color: aliceblue;
}
#ul03 img {
    width: 20px;
    height: 20px;
}
#have {
    color: aliceblue;
    font-weight: 600;
    margin-bottom: 5%;
}
#endereco {
    color: aliceblue;
    opacity: 70%;
}

#copy {
    color: aliceblue;
    opacity: 70%;
    margin-left: 3%;
}
#copy span img{
    width: 20px;
    height: 20px;
    opacity: 30%;
}