* {
    margin: 0%;
    font-family:'Poppins', Arial, sans-serif;
    box-sizing: border-box;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
}

#barraLateral {
width: 20%;
position: sticky;
top: 0%;
display: flex;
flex-direction: column;
align-items: center;
height: 70vh;
justify-content: space-around;
}

#parteCima {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
#parteCima h1 {
    padding-bottom: 40%;
}

#barraLateral h1 {
    width: 45%;
    height: 10%;
}
#barraLateral h1 a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#barraLateral h1 a span {
    width: 150%;
    height: 100%;
    font-size: x-large;
    font-weight: 800;
    color: #000000;
    text-align: center;
}
#barraLateral img {
    width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius: 50%;
}
#ListaLinks {
    list-style: none;
    text-align: center;
    padding: 0%;
}
#ListaLinks li {
    margin-top: 20%;
}
#ListaLinks a {
    text-decoration: none;
    color: rgb(61, 61, 61);
    font-size: large;
    font-weight: 700;
}
#ListaLinks a:hover {
    border-bottom: 1px solid black;
}
#home {
    border-bottom: 1px solid black;
}
.parteBaixo {
    width: 55%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    margin-top: 70%;
}
.parteBaixo h3 {
    width: 100%;
    height: 1vh;
    color: darkgrey;
    font-size: larger;
    font-weight: 700;
    text-align: center;
    padding-bottom: 15%;
}
.parteBaixo input {
    width: 100%;
    height: 5vh;
}

#conteudoPrincipal {
width: 80%;
height: 250vh;
flex-direction: column;
justify-content: space-between;
}

#sec01 {
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(207, 181, 146);
    padding: 10%;
}
#sec01 div {
    display: flex;
}
#sec01 p {
    margin-left: 2%;
    color: black;
    border-bottom: #000000 solid 1px;
}
#sec01 a {
    text-decoration: none;
    color: black;
    border-bottom: #000000 solid 1px;
}
#sec01 h1 {
    font-size: 3em;
}

#sec02 {
    width: 100%;
    height: 400vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3%;
    padding-bottom: 5%;
    padding-left: 2%;
    padding-right: 1%;
}
.tamanho {
    width: 100%;
    height: 35vh;
    display: flex;
}
#textos {
    width: 65%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.containerImg {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.containerImg img {
    width: 75%;
    height: 100%;
    object-fit: cover;
}
.acompImg {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.acompImg h4 {
    font-size: 1.1em;
}
.acompImg h4 a {
    text-decoration: none;
    color: #000;
}
.p1 {
    color: #a7a7a7;
    text-align: left;
}
.p1 a {
    text-decoration: none;
    color: #000;
}
.p2 {
    opacity: 40%;
    color: black;
    text-align: left;
    font-weight: 500;
}
.aSozinho {
    text-decoration: none;
    color: gold;
}

#infos {
    width: 35%;
    height: 100%;
    padding: 3%;
}
#infos input {
    width: 100%;
    height: 1.5%;
}
.ulBlog {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.ulBlog li {
    list-style: none;
    display: flex;
}
.borda {
    border-bottom: #a7a7a7 solid 1px;
}
.ulBlog:first-child {
    margin-bottom: 10%;
}
.ulBlog p {
    width: 50%;
}
.ulBlog span {
    width: 50%;
    color: #a7a7a7;
    text-align: end;
}

#artigosPop {
    width: 100%;
}
#artigosPop li {
    list-style: none;
    width: 100%;
    margin-top: 10%;
}
.tamanho1 {
    width: 100%;
    height: 10vh;
    display: flex;
}
.containerImg1 {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.containerImg1 img {
    width: 75%;
    height: 100%;
    object-fit: cover;
}
#artigosPop a {
    text-decoration: none;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#artigosPop p {
    font-size: 0.8em;
    color: black;
    opacity: 50%;
    margin-top: 2%;
}

#tagCloud {
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: column;
    margin-top: 10%;
}
#tagCloud h6 {
    font-size: 1em;
    letter-spacing: 2px;
}
#tagCloud div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#tagCloud p {
    width: 30%;
    margin: 2%;
    text-align: center;
    border: #a7a7a7 solid 1px;
    border-radius: 25%;
}

#sec03 {
    width: 100%;
    height: 60vh;
    background-color:rgb(42, 42, 44);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 3%;
}
#sec03 ul {
    width: 33%;
    height: 66%;
}
#sec03 ul li {
    list-style: none;
}
#ul01:first-child p {
    color: aliceblue;
    font-weight: 600;
    margin-bottom: 5%;
}
#ul01:last-child {
    width: 100%;
    height: 100%;
}
#galeria {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#galeria img {
    width: 33%;
    height: 110.94px;
}

#ul02 {
    display: flex;
    flex-direction: column;
}
#archives{
    color: aliceblue;
    font-weight: 600;
    margin-bottom: 5%;
}
#ul02 p {
    width: 100%;
    color: aliceblue;
    border-bottom: aliceblue solid 1px;
    line-height: 250%;
    display: flex;
    justify-content: center;
}
#ul02 span {
    width: 50%;
}
.span1 {
    text-align: end;
}

#ul03 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    align-self: flex-start;
}
#ul03 li {
    width: 70%;
    display: flex;
}
#ul03 a {
    text-decoration: none;
    color: aliceblue;
}
#ul03 img {
    width: 20px;
    height: 20px;
}

#have {
    color: aliceblue;
    font-weight: 600;
    margin-bottom: 5%;
}
#endereco {
    color: aliceblue;
    opacity: 70%;
}

#copy {
    color: aliceblue;
    opacity: 70%;
    margin-left: 3%;
}
#copy span img{
    width: 20px;
    height: 20px;
    opacity: 30%;
}